.services-container {
  max-width: 100%;
  margin-top: -150px;
  padding: 40px;
}

.services-title {
  font-weight: bold;
  color: black;
  font-size: 24px;
}

.service-card {
  max-width: 80%;
  margin: 0 auto;
}

.service-left {
  grid-column: 1;
  width: 100%;
  height: 100%;
  position: relative;
  /* Add this */
}

.service-left img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  position: absolute;
  /* Add this */
  top: 0;
  /* Add this */
  left: 0;
  /* Add this */
  right: 0;
  /* Add this */
  bottom: 0;
  /* Add this */
}


.service-right {
  grid-column: 2;
  padding-top: 0px;
  color: azure;
}

/* Additional styling for title and description as needed */
.services {
  font-size: 45px;
  font-weight: bold;
  margin-left: 40%;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 2s ease-in-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.service-description {
  font-size: 18px;
  line-height: 1.5;
}

.service-card {
  background-color: #032F40;
  border-radius: 8px;
  padding: 30px;
  margin-bottom: 20px;
  height: 300px;
}

@media only screen and (max-width: 1441px) {
  .services-container {
    max-width: 100%;
    margin-top: -150px;
    padding: 40px;
  }

  .services-title {
    font-size: 24px;
  }

  .service-card {
    max-width: 80%;
    margin: 0 auto;
  }

  .service-left {
    width: 100%;
    height: 100%;
  }

  .service-left img {
    width: 100%;
    height: 100%;
  }

  .service-right {
    grid-column: 2;
    padding-top: 0px;
  }

  /* Additional styling for title and description as needed */
  .services {
    font-size: 35px;
    margin-left: 40%;
  }

  .service-description {
    font-size: 18px;
    line-height: 1.5;
  }

  .service-card {
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 20px;
    height: 300px;
  }
}

@media only screen and (max-width: 1025px) {
  .services-container {
    max-width: 100%;
    margin-top: -120px;
    padding: 40px;
  }

  .service-title {
    font-size: 25px;
  }

  .service-card {
    max-width: 90%;
    margin: 0 auto;
  }

  .service-left {
    width: 100%;
    height: 100%;
  }

  .service-left img {
    width: 100%;
    height: 100%;
  }

  .service-right {
    grid-column: 2;
    padding-top: 0px;
  }

  .services {
    font-size: 35px;
    margin-left: 40%;
  }

  .service-description {
    font-size: 15px;
    line-height: 1.5;
  }

  .service-card {
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 20px;
    height: 300px;
  }
}